<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students Grades App's</title>
  </head>
  <body>
    <main>
      <section>
        <legend>Estudientes</legend>
        <section>
          <div>
            <label for="selectListOfStudents">Lista de Estudientes</label>
            <select
              id="selectListOfStudents"
              name="selectListOfStudents"
            ></select>
          </div>
        </section>
      </section>
      <section>
        <div id="sectionOfStudentGrades"></div>
      </section>
    </main>
    <script src="/src/app.js"></script>
  </body>
</html>
